<!-- Pomodoro timer section begin -->
<div class="col-md-4 timer-location" ng-controller="TimerController">
	<div class="time-chart">
		<canvas id='time-rep' height='300px'></canvas>
		<div id="timer-btn" class="btn btn-default" 
			ng-mousedown="mouseEventStart()" 
			ng-mouseup="mouseEventStop()">
			<i id='play' class="fa" ng-class="{
				'fa-play': isActive('Pause') || isActive('Stopped'),
				'fa-pause': isActive('Running')
			}"></i>
			<h4 ng-hide="isBreak">{{remainingTime * 1000 | date : "mm:ss"}}</h4>
			<h4 ng-show="isBreak">{{remainingBreakTime * 1000 | date : "mm:ss"}}</h4>
		</div>
	</div>
	<div class="timer-options">
		<h5>Work time | {{workSession | number:0}} min</h5>
		<slider floor="10" ceiling="60" step="5" precision="2"
			ng-model="workSession"></slider>
		<h5>Small break time | {{smallBreakSession | number:0}} min</h5>
		<slider floor="0" ceiling="60" step="5" precision="2"
			ng-model="smallBreakSession"></slider>
		<h5>Big break time | {{bigBreakSession | number:0}} min</h5>
		<slider floor="0" ceiling="90" step="5" precision="2"
			ng-model="bigBreakSession"></slider>
		<!-- <h5>Take a bigger break after {{bigBreakFreq | number:0}} pomodoros</h5> -->
		<h5><ng-pluralize count="bigBreakFreq" when="{
			'1': 'Take a bigger break after 1 pomodoro',
			'other': 'Take a bigger break after {{bigBreakFreq | number:0}} pomodoros'
		}"></ng-pluralize></h5>
		<slider floor="1" ceiling="10" step="1" precision="1"
			ng-model="bigBreakFreq"></slider>
	</div>
</div>
<!-- Pomodoro timer section end -->
<!-- Project section start -->
<div class="col-md-8 project-section" ng-controller="ProjectController">
	<data-my-group name='Test'></data-my-group>

	<div class="group">
		<div class="group-head">
			<div class="group-name">
				<h3>Name</h3>
			</div>
		</div>
		<div class="group-body">
			<div class="task"></div>
			<div class="task"></div>
			<div class="task"></div>
			<div class="task"></div>
		</div>
		<div class="group-tail">
			<div class="add-task">
				<p>Click here to add task ...</p>	
			</div>
		</div>
	</div>

	<div class="group">
		<div class="group-head">
			<div class="group-name">
				<h3>Name</h3>
			</div>
		</div>
		<div class="group-body">
			<div class="task"></div>
			<div class="task"></div>
		</div>
		<div class="group-tail">
			<div class="add-task">
				<p>Click here to add task ...</p>	
			</div>
		</div>
	</div>

	<div class="group">
		<div class="group-head">
			<div class="group-name">
				<h3>Name</h3>
			</div>
		</div>
		<div class="group-body">
			<div class="task"></div>
			<div class="task"></div>
			<div class="task"></div>
			<div class="task"></div>
		</div>
		<div class="group-tail">
			<div class="add-task">
				<p>Click here to add task ...</p>	
			</div>
		</div>
	</div>


</div>
<!-- Project section end