<div class="login-box" ng-controller="LoginController">
	<h2>Login</h2>

	<form novalidate class="login-form" ng-submit="submit()">
		<div class="form-group">
			<input id="userEmail" class="form-control" type="email" ng-model="user.email" placeholder="email ..."/>
		</div>

		<div class="form-group">
			<input id="userPassword" class="form-control" type="password" ng-model="user.password" placeholder="password ..."/>
		</div>

		<div class="form-group">
			<input type="submit" ng-click="isLoggingIn()" class="btn btn-default login-btn" value="Login" />
			<input type="submit" ng-click="isSigningIn()" class="btn btn-default login-btn" value="Sign up" />
		</div>
	</form>
</div>
