.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.project-section {
	margin-top: -20px;
	height: 92.9vh;
	width: 73.28%;
	padding: 0;
	overflow: auto;
	overflow-y: hidden;	
	white-space: nowrap;
}

.group {
	width: 280px;
	background-color: #e7e7e7;
	border: 3px solid white;
	border-radius: 5px;

	margin-top: 15px !important;
	margin-left: 15px;

	float: left;
}

.create-new-group {
	width: 280px;
	height: 53px;
	background-color: #E8E8E8;
	border: 3px solid white;
	border-radius: 5px;
	margin-top: 15px !important;
	margin-left: 15px;
	float: left;
	padding: 0px 5px 5px 15px;
}

.create-new-group h4 {
	color: #FD7373;
	font-size: 25px;
	font-weight: 200;
}

.create-new-group:hover h4 {
	color: white;
	cursor: pointer;
}

.create-new-group input {
	margin-top: 3px;
	background-color: #E8E8E8;
	width: 100%;
	height: 40px;
	border: 0px solid white;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 200;
	color: #FD7373;
}

.create-new-group input:focus {
	outline-style: none;
}

.wrapper {
	position: absolute;
	width: auto;
}

.highlight p {
	color: white !important;
}

.highlight {
	cursor: pointer;
}

.group-head {
	margin-top: 0px;

	height: 50px;
	background-color: #FD7373;
	border-radius: 3px 3px 0 0;
	border-bottom: 2px solid white;
}

.group-name {
	height: 40px;
	width: 60%;
	margin-left: 15px;
	margin-top: -7px;
	display: inline-block;
}

.group-actions {
	height: 50px;
	width: 30%;
}

.group-actions .fa-times {
	font-size: 26px;
	color: white;
	margin: 12px 10px 12px auto;
}

.group-actions .fa-times:hover {
	color: #E8E8E8;
}

.group-name h3 {
	color: white;
	font-size: 25px;
	font-weight: 200;
}

.group-body {
	min-height: 8px;
	max-height: 76vh;
	padding-bottom: 10px;
	overflow-y: scroll;
}

.group-tail {
	margin-left: 8px;
	margin-top: -10px;
	margin-bottom: -11px;
	border-radius: 0 0 5px 5px;
}

.add-task {
	color: #FD7373;
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 8px;
	display: inline-block;
}

.task, .new-task {
	width: 96%;
	min-height: 40px;
	background-color: white;
	border: 2px solid #FD7373;
	
	border-radius: 5px;
	margin: 10px auto;
}

.new-task input {
	width: 100%;
	min-height: 36px;
	border: 0px solid white;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 16px;
	color: #5E5E5E;
}

.new-task input:focus {
	outline-style: none;
}

.task-description {
	width: 90%;
	height: 100%;
	margin: 5px;
	font-size: 17px;
}

.task-description p {
	margin: 0;
	color: #5E5E5E;
	cursor: pointer;
}

.task-actions {
	background-color: #FD7373;
	border-radius: 0 0 3px 3px;
	height: 30px;
}

.task-actions .fa-times {
	color: white;
	font-weight: 200;
	font-size: 20px;
	margin: 5px 5px 5px auto;
}

.task-actions .fa-times:hover {
	color: #E8E8E8;
}
