body { 
	padding-top: 70px;
	background-color: #F8F8F8;
}

#timer-btn {
	width: 130px;
	height: 130px;
	border-radius: 130px;

	position: absolute;
	left: 100px;
	top: 105px;
}

.time-chart {
	width: 300px;
	height: 300px;
}

#play {
	padding-top: 20px;
	font-size: 60px;
	font-weight: 400;
	color: #ff1d00;
}

.timer-options {
	margin-top: 40px;
	width: 300px;
}

.timer-options slider, [slider] {
	margin: 10px 0;
}

.timer-location {
	margin-top: -20px;
	padding-top: 20px;
	width: 330px;
	height: 93vh;
	border-right: 1px solid #E7E7E7;

}